<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/content/style.css">
    <title>{{{title}}}</title>
</head>
<body>
      <div class="header-bar">
        <h1><a href="{{{href}}}">{{{heading}}}</a></h1>
    </div>
     <div class="container">
        <table class="menu">
            <tr>
                <td class="col"><a href="/">Начало</a></td>
            </tr>
            <tr>
                <td class="col"><a href="/healthIT">Същност</a></td>
            </tr>
            <tr>
                <td class="col"><a href="/outlook">Преспективи</a></td>
            </tr>
            <tr>
                <td class="col"><a href="/jobs">Професии</a></td>
            </tr>
            <tr>
                <td class="col"><a href="/moreInfo">Още информация</a></td>
            </tr>
        </table>
        {{{image}}}
    </div>
    {{{body}}}    

    <footer>
        <img src="/content/images/logo.png" alt="" class="logo">
        <p>Copyright © 2023 <a href="mailto:simona.ogniyanova@pmggd.bg">Simona Ognyanova.</a> All rights reserved
        </p>
    </footer>
</body>
</html>